root = true

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2

# Xml project files
[*.{csproj,fsproj,vbproj,proj,slnx}]
indent_size = 2

# Xml config files
[*.{props,targets,config,nuspec}]
indent_size = 2

[*.json]
indent_size = 2

[*.md]
indent_size = 2

# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
tab_width = 4

# New line preferences
insert_final_newline = true

# Tests
[*Tests/**/*.cs]
max_line_length = 140
