bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.DS_Store

.idea/
ProcureHub/Data/app.db*
ProcureHub.sln.DotSettings.user
todos.md
.plans/ignore
.notes/
.context/ignore
.bruno/
Prototype/

# Terraform
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraformrc
**/terraform.rc
