@inherits LayoutComponentBase
@inject NavigationManager Navigation

<RadzenComponents @rendermode="InteractiveServer" />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Class="rz-p-4">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenBreadCrumb>
                <RadzenBreadCrumbItem Path="/dashboard" Text="Home" />
            </RadzenBreadCrumb>
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem"
                Style="margin-left: auto;">
                <AuthorizeView>
                    <Authorized>
                        <RadzenProfileMenu>
                            <Template>
                                <RadzenGravatar Email="@context.User.Identity?.Name" />
                            </Template>
                            <ChildContent>
                                <RadzenProfileMenuItem Text="Profile" Path="/Account/Manage" />
                                <li class="rz-navigation-item" style="list-style: none;">
                                    <div class="rz-navigation-item-wrapper">
                                        <form action="Account/Logout" method="post" style="margin: 0;">
                                            <AntiforgeryToken />
                                            <input type="hidden" name="ReturnUrl" value="@GetReturnUrl()" />
                                            <button type="submit" class="rz-navigation-item-link"
                                                style="width: 100%; border: none; background: none;">
                                                <span>Logout</span>
                                            </button>
                                        </form>
                                    </div>
                                </li>
                            </ChildContent>
                        </RadzenProfileMenu>
                    </Authorized>
                </AuthorizeView>
            </RadzenStack>
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar FullHeight="true" @bind-Expanded="@sidebarExpanded" style="width: 250px">
        <RadzenStack Gap="1rem" Class="rz-p-4">
            <AppLogo />
        </RadzenStack>

        <RadzenPanelMenu ShowArrow="false" DisplayStyle="MenuItemDisplayStyle.Text">
            <RadzenPanelMenuItem Text="Home" Path="/dashboard" Icon="home" />

            <RadzenPanelMenuItem Text="Request Management" Icon="description" Expanded="true">
                <RadzenPanelMenuItem Text="Requests" Path="/requests" Icon="list_alt" />
                <AuthorizeView Roles="Requester">
                    <RadzenPanelMenuItem Text="New Request" Path="/requests/new" Icon="add_circle" />
                </AuthorizeView>
            </RadzenPanelMenuItem>

            <AuthorizeView Roles="Approver">
                <RadzenPanelMenuItem Text="Approvals" Icon="check_circle" Expanded="true">
                    <RadzenPanelMenuItem Text="Pending Approvals" Path="/approvals" Icon="pending_actions" />
                </RadzenPanelMenuItem>
            </AuthorizeView>

            <AuthorizeView Roles="Admin">
                <RadzenPanelMenuItem Text="Administration" Icon="settings" Expanded="true">
                    <RadzenPanelMenuItem Text="Users" Path="/admin/users" Icon="people" />
                    <RadzenPanelMenuItem Text="Departments" Path="/admin/departments" Icon="business" />
                </RadzenPanelMenuItem>
            </AuthorizeView>
        </RadzenPanelMenu>
    </RadzenSidebar>

    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    private bool sidebarExpanded = true;

    private string GetReturnUrl() => Navigation.ToBaseRelativePath(Navigation.Uri);
}
