[*.cs]

# Disable warning: "Calls to methods which accept CancellationToken should use TestContext.Current.CancellationToken"
# Adding `CancellationToken` everywhere in tests adds noise and reduces readability.
dotnet_diagnostic.xUnit1051.severity = none
