name: API Build & Test

on:
  workflow_call:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Restore dependencies
        run: dotnet restore ProcureHub.sln

      - name: Build
        run: dotnet build ProcureHub.sln --no-restore --configuration Release

      # Temporarily disabling tests until pipeline set up (Need to set up PG DB)
      # - name: Test
      #   run: dotnet test ProcureHub.sln --no-build --configuration Release --verbosity normal
